.cards{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
   
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .card-img-top {
        width: 100%;
        height: 33vw;
        object-fit: cover;
    }
}
