.btn-add{
    color: blue;
}

.table-horiz-scroll {
    overflow-x:auto;
   
 }

 table {
    table-layout: auto;
    
    word-wrap: break-word;
}
table td{
   text-align: center;

}
table th{
    text-align: center;
 }

    table th, table td {
        overflow: hidden;
    }
    @media screen and (max-width: 1200px) {
        body {
          overflow: visible;
        } table {
            width: 769px !important;
            font-size: small;
        }
    
      }